{% extends "onepage.html" %}

{% block title %}Авторизация{% endblock %}

{% block main %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>Ошибка авторизации. Попробуй снова</p>
    {% else %}
        <p>Добро пожаловать в Mamayka Flowers</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            <div class="row">
                <div class="col-2">
                    {{ form.username.label}}
                </div>
                <div class="col">
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                   {{ form.password.label }}
                </div>
                <div class="col">
                    {{ form.password }}
                </div>
            </div>
            {% csrf_token %}
            <p><input class="btn btn-outline-success" type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}
