{% extends "main.html" %}
{% block title %} Цветы Мамайка - Справочники {% endblock %}
{% block vnavbar %}
    <ul>
        <li>
            <a href="/main/" >Главная</a>
        </li>
        <li>
            <a href="contacts/">Клиенты</a>
        </li>
        <li>
            <a href="articles/">Товары и услуги</a>
        </li>
        <li>
            <a href="suppliers/">Поставщики</a>
        </li>
        <li>
            <a href="measure/">Единицы измерения</a>
        </li>
        <li>
            <a href="stocks/">Склады</a>
        </li>
    </ul>
{% endblock %}
{% block main %}
    <h2> Настройка и работа со справочниками </h2>
{% endblock %}

