{% extends "onepage.html" %}
{% load static %}
{% block title %} Цветы Мамайка - Клиенты {% endblock %}
{% block subheader %}
    <span class="inline">
        <h5> Справочник Клиенты </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'contacts_new' %}" class="btn btn-outline-success btn-sm">Добавить</a>
    <p class="separator"></p>
    <a href="{% url 'references' %}" class="btn btn-outline-success btn-sm">Закрыть</a>
{% endblock %}
{% block main %}
    <table class="container table table-striped">
        <thead>
            <tr class="row">
                <th class="col-1" scope="col">Группа</th>
                <th class="col-1" scope="col"><i class="fa-solid fa-camera"></i></th>
                <th class="col-sm" scope="col">Клиент</th>
                <th class="col-sm" scope="col">Дата создания</th>
                <th class="col-sm" scope="col">Телефон</th>
                <th class="col-sm" scope="col">Адрес</th>
            </tr>
        </thead>
        <tbody>
            {% for el in contacts %}
                <tr class="row">
                    <td class="col-1">{{ el.category }}</td>
                    <td class="col-1">
                        <a href= "{{ el.get_absolute_url }}">
                            <img class="img-preview" src="{% if el.image %}{{ el.image.url }}
                            {% else %}{% static '/img/no-image.png' %}{% endif %}"
                            width="50"
                            alt="[X]">
                        </a>
                    </td>
                    <td class="col-sm">
                        <a href= "{{ el.get_absolute_url }}">{{ el }}</a>
                    </td>
                    <td class="col-sm">{{ el.createdOn }}</td>
                    <td class="col-sm">{{ el.phone }}</td>
                    <td class="col-sm">{{ el.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}