{% extends "onepage.html" %}
{% load static %}
{% block title %}
    Цветы Мамайка - Клиенты
{% endblock %}
{% block subheader %}
     <span class="inline">
        <h5> Группа клиентов </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'contacts' %}" class="btn btn-outline-success btn-sm">Закрыть</a>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <h5>Клиент:</h5>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.errors }}
            <div class="row">
                <div class="col-2">
                    {{ form.category.label}}
                </div>
                <div class="col">
                    {{ form.category }}
                </div>
            </div>
            <div class="row">
                    <div class="col-2">
                        <img id="foto" src="{% if form.instance.image %}{{ form.instance.image.url }}
                            {% else %}{% static '/img/no-image.png' %}{% endif %}" width=100>
                        <div class="col">
                            {{ form.image }}
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.first_name.label }}
                </div>
                <div class="col">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.last_name.label }}
                </div>
                <div class="col">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.messenger.label }}
                </div>
                <div class="col">
                    {{ form.messenger }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.phone.label }}
                </div>
                <div class="col">
                    {{ form.phone }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.phone2.label }}
                </div>
                <div class="col">
                    {{ form.phone2 }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.email.label }}
                </div>
                <div class="col">
                    {{ form.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.address.label }}
                </div>
                <div class="col">
                    {{ form.address }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.description.label }}
                </div>
                <div class="col">
                    {{ form.description }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-success" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
    <script> document.getElementById('avatar').addEventListener('change', showFile, false);
    </script>
{% endblock %}

