{% extends "main.html" %}
{% load static %}
{% block title %} Цветы Мамайка - Клиенты {% endblock %}
{% block subheader %}
    <span class="inline">
        <h5> Справочник Клиенты </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'references' %}" class="btn-view">Закрыть</a>

{% endblock %}

{% block vnavbar %}
    <span class="inline"> <h5>Группы</h5> </span>
    <span class="inline"> <a href="{% url 'contact_groups_edit' %}"><i class="fa-solid fa-pen-to-square"></i></a> </span>
    <ul>
        {% if group %}
             <li><a href="{% url "contacts" %}">Все</a></li>
        {% endif %}
        {% for g in groups %}
            {% if g.parent == group %}
                <li>
                    <a href="{{ g.get_absolute_url }}">{{ g.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
{% block main %}
    {% if group %}
        <h5>{{ group.title }}</h5>
        <p>{{ group.description }}</p>
    {% else %}
        <h5> Клиенты </h5>
    {% endif %}
    {% for el in contacts %}
        <div class="item">
            <a href= "{{ el.get_absolute_url }}" >
                <img class="img-preview" src="{% if el.image %}{{ el.image.url }}
                {% else %}{% static "img/no-image.png" %}{% endif %}"
                     width="100"
                     alt="[X]">
            </a>
            <a href= "{{ el.get_absolute_url }}">{{ el }}</a>
            <p class="separator">{{ el.phone }}</p>
        </div>
    {% endfor %}
{% endblock %}