{% extends "onepage.html" %}
{% load static %}
{% block title %}
    Цветы Мамайка - Поставщики
{% endblock %}
{% block subheader %}
    <span class="inline">
        <h5> Поставщики </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'supplier_detail' object.id %}" class="btn-view">Закрыть</a>
{% endblock %}

{% block main %}
    <h5>"{{ object }}"</h5>
    <form method="post">
        {% csrf_token %}
        <div><button class="btn btn-success" type="submit">Удалить</button></div>
    </form>
{% endblock %}