{% extends "onepage.html" %}
{% load static %}
{% block title %}
    Цветы Мамайка - Поставщики
{% endblock %}
{% block subheader %}
    <span class="inline">
        <h5> Группа поставщиков </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'suppliers_groups_edit' %}" class="btn-view">Закрыть</a>
{% endblock %}

{% block main %}
    <h5>"{{ object }}"</h5>
    <form method="post">
        {% csrf_token %}
        <div><button class="btn btn-success" type="submit">Удалить группу</button></div>
    </form>
{% endblock %}