{% extends "onepage.html" %}
{% load static %}
{% block title %} Цветы Мамайка - Поставщики {% endblock %}
{% block subheader %}
	<span class="tools-item">
        <h5> Справочник Поставщики </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'suppliers_new' %}" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-plus"></i> Добавить</a>
    <p class="separator"></p>
    <div class="tools-item inputbox">
        <form id="filterForm" method="get">
            <input id="filter" type="text" tabindex="1" value="" name="Filter" placeholder="Фильтр + поиск" autocomplete="off">
            <span class="tools-item">
                <a href="#" onclick="document.getElementById('filterForm').submit()"><i class="fa-solid fa-magnifying-glass"></i></a>
            </span>
            <span class="inline">
                <a href="#" onclick='document.getElementById("filter").value="";
                document.getElementById("filterForm").submit()'><i class="fa-solid fa-xmark"></i></a>
            </span>
        </form>
    </div>

    <p class="separator"></p>
    <a href="{% url 'references' %}" class="btn btn-outline-success btn-sm">Закрыть</a>


{% endblock %}
{% block main %}
    <table class="container table table-striped">
        <thead>
            <tr class="row">
                <th class="col-1" scope="col">Группа</th>
                <th class="col-sm" scope="col">Поставщик</th>
                <th class="col-sm" scope="col">ИНН</th>
                <th class="col-sm" scope="col">Телефон</th>
                <th class="col-sm" scope="col">Адрес</th>
            </tr>
        </thead>
        <tbody>
            {% for el in suppliers %}
                <tr class="row">
                    <td class="col-1">{{ el.category }}</td>
                    <td class="col-sm">
                        <a href= "{{ el.get_absolute_url }}">{{ el }}</a>
                    </td>
                    <td class="col-sm">{{ el.INN }}</td>
                    <td class="col-sm">{{ el.phone }}</td>
                    <td class="col-sm">{{ el.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}