{% extends "main.html" %}
{% load static %}
{% load tree %}
{% block title %} Цветы Мамайка - Товары и услуги {% endblock %}
{% block subheader %}
    <span class="inline">
        <h5> Справочник Товары и услуги </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'references' %}" class="btn btn-outline-success btn-sm">Закрыть</a>

{% endblock %}

{% block vnavbar %}
    <span class="inline"> <h5>Категории</h5> </span>
    <span class="inline"> <a href="categories"><i class="fa-solid fa-pen-to-square"></i></a> </span>
    <ul>
        {% tree category|astree:"parent" %}
            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
        {% endtree %}
    </ul>
{% endblock %}
{% block main %}
    {% if group %}
        <h5 class="inline">{{ group }}</h5>
    {% else %}
        <h5 class="inline"> Товары и услуги </h5>
    {% endif %}
    <span class="inline"> <a href="{% url 'products_new' %}"><i class="fa-solid fa-circle-plus"></i></a> </span>
        {% for prod in products %}
            <div class="row">
                <div class="col">
                    <a href= "{{ prod.get_absolute_url }}">{{ prod }}</a>
                </div>
            </div>
        {% endfor %}
{% endblock %}