{% extends "onepage.html" %}
{% load static %}
{% block title %}
    Цветы Мамайка - Измерения
{% endblock %}
{% block subheader %}
     <span class="inline">
        <h5> Измерения </h5>
    </span>
    <p class="separator"></p>
    <a href="{% url 'measure_list' %}" class="btn btn-outline-success btn-sm">Закрыть</a>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <h5>Измерения:</h5>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_form_errors }}
            {{ form.errors }}
            {{ form.as_p }}
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-success" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

